CASDOOR_ENDPOINT="http://localhost:8000"
CASDOOR_CLIENT_ID="5b827e1f8cc73cca6dd4"
CASDOOR_CLIENT_SECRET="1409c61ac7fe620ce26bd454d84c9ec52d3b9c0b"
CASDOOR_ORGANIZATION="appscode"
CASDOOR_APPLICATION="cloud-be"
CASDOOR_REDIRECT_URI="http://localhost:8080/callback"
CASDOOR_CERTIFICATE "-----BEGIN CERTIFICATE-----
MIIE3TCCAsWgAwIBAgIDAeJAMA0GCSqGSIb3DQEBCwUAMCgxDjAMBgNVBAoTBWFk
bWluMRYwFAYDVQQDEw1jZXJ0LWJ1aWx0LWluMB4XDTI1MDkyNjA1MjgzM1oXDTQ1
MDkyNjA1MjgzM1owKDEOMAwGA1UEChMFYWRtaW4xFjAUBgNVBAMTDWNlcnQtYnVp
bHQtaW4wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDpAzikE+go222o
mIPpHfv8Q3J6+HRNLvwqgb+aHNwv3ReZvtKdLjfCARmS9CkeUqlsmYI1Dl5EoRLH
yhK/VJzf47EEAaP/t+egzCDAn607K9p2f8fWN2K9jCDrF1ozU5p+p21Gnj6tP9q9
j7N4w9KKvoQ4dO64MzKGVdvbjPS6fMLPdkoGwGGss7j0c+drtvjiLZ3n6c1iFOLK
kSeJaaSLAHzxxEhSMDYeGj7bb+RUpyewMq2DKFOOJSh88s1PUL2aJ6c19+s4f34v
MxqTKE+Jh8uXiLvwV5shSl/xCI6ph7+zUBSveH4Z3Wr08DfL39xewGP2vh+3ONxq
oBpx7n02ObjDOBjDQYoURa0CWhQzTffgAA5qf2HlIUwt8ZjVRPeZi992M3v6b6YQ
kzgxxJ6i6VAfFADDvK7UhCjAUbqADzTuxLn5IO3uruaS113hxkKs9MFfiFPzvp4I
A65Q8vJGZQXuIqhOd3Q65Sh5mPZYvRIP4l4n0arVk6iHubH0B8O9IWc10pUiJTtp
DzA3/vsD5f7qTxFh3qnQR+Kaxu0KIUrxnkHLbiFVCmwRQagoe2Fhv90SmYD03HzR
JZwgNZEqYXk0FW1sL2W4GtEcQ7IaYOfCatj7XbtXMOWP7ViNCBOaL7s5sKLJXXSv
vvWRiKjs018xNpKrDmMgAe8iAkhtHQIDAQABoxAwDjAMBgNVHRMBAf8EAjAAMA0G
CSqGSIb3DQEBCwUAA4ICAQCvueY9gUa7U5sKkyRmffMmI5nosBDG9dKdenWSk6gu
7kOVSGCPs/Q52GKzOPveh6t5yTI20lDd8WNX46XGM+x6lFz2z23ZCfk4qcMGlHIz
d6TdEdYSsjVxPL9193CSq25ZupqIVhCRVsK3BhrAZfd23QqJHbCqLXZl1zn6Qwp6
q9da1+R1bv3VLZRD/LtseKsulStMrugKaUEmECCwRUm0f28CUzl+/hWU2lZD4yri
MDUH3d8iJ4K9mB9n9X83xog6cpoD9S70JOQ0S4v7rNP/86DgAzlL07iywZWwEhfi
C70jHj2Tcq5VKNY7/PlO9dqYdGkKkuIvJcrK5wp4lYS13slHCPREOv3jTbipvx0p
OKMDUKjNKhSQIh+mkaXWEvS3iE4P4lG68cV11JnnYh+5a0tLjOeWdgX6V3QDTHdP
CaM1TTYPpUKjKz3cVL+8R543Bc5N7g+HxB9ChDBlNdVB0fBPGZFcPlUR0vEJQVFS
OaNjJOKio5x/qKc13LpqNRVKOdPxVI1PULzsyoZOMYg2ZE9AdwgFjAsFDIGGqb8R
TrazDf52t+XTcosJWC4wGQ4znrzPel2nv5/SUlcMe1lxIE5gyDtak07ZnGHJzeuK
rN3Sx2P5bX+CId+kFM6zoWDIUnohID8JKNHqkwi+JrSxdXO2nPZWyPlUJtLEFZvs
MQ==
-----END CERTIFICATE-----"

