CASDOOR_ENDPOINT=
CASDOOR_CLIENT_ID=
CASDOOR_CLIENT_SECRET=
CASDOOR_ORGANIZATION=
CASDOOR_APPLICATION=
CASDOOR_REDIRECT_URI=
CASDOOR_CERTIFICATE=
CASDOOR_PRIVATE_KEY=
CASDOOR_EMAIL_PROVIDER_CLIENT_ID=
CASDOOR_EMAIL_PROVIDER_CLIENT_SECRET=
CASDOOR_EMAIL_PROVIDER_CLIENT_ID_2=
CASDOOR_EMAIL_PROVIDER_CLIENT_SECRET_2=
CASDOOR_GITHUB_PROVIDER_CLIENT_ID=
CASDOOR_GITHUB_PROVIDER_CLIENT_SECRET=
CASDOOR_GOOGLE_PROVIDER_CLIENT_ID=
CASDOOR_GOOGLE_PROVIDER_CLIENT_SECRET=